.addHeroBlockForm {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    width: 70%;
    justify-content: center;

}

.heroData {
    display: flex;
    flex-direction: column;
}

.heroData h1 {
    margin: 20px auto 0 auto;
}

.container p {
    margin: 50px auto 0 auto;
    width: 300px;
    color: #007bff;
    font-size: 20px;
    text-transform: uppercase;
}

.heroData input {
    margin-bottom: 10px;
}

.btn {
    display: flex;
    justify-content: center;
}
